<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Inicio do Header*/

.header{
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav{
    background-color: #333232;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    
}

.nav-ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    
}

.nav-ul a{
    font-size: 25px;
    text-decoration: none; 
    margin: 20px;
    color: #bebdbd;
    transition: all 0.9s ease; 
}

.nav-ul a:hover{
    color: rgb(30, 30, 241);
=======
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Inicio do Header*/

.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav {
  background-color: #333232;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.nav-ul a {
  font-size: 25px;
  text-decoration: none;
  margin: 20px;
  color: #bebdbd;
  transition: all 0.9s ease;
}

.nav-ul a:hover {
  color: rgb(30, 30, 241);
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
}

/* Fim do Header*/

/* Inicio da Main*/
<<<<<<< HEAD
.section{
    width: 100%;
    background-color: #121212;
    height: calc(120vh - 85px);
    background-image: url(Imagens/programador.png);
    display: flex;
    align-items: center;
    padding-left: 10%;
    transition: 3.0s;
}

.section h1{
    color: #FFFFFF;
    font-size:50px
}

.section p{
    color: blue;
    padding-top: 14px;
    padding-bottom: 20px;
    font-size:  25px;
    font-style: italic;
}

.buttom{
    padding: 15px;
    font-size: 20px;
    background-color:#FFFFFF ;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.9s;
}

.buttom:hover{
    transform: scale(1.2);
}

.section a{
    text-decoration: none;
    color: #121212;
=======
.section {
  width: 100%;
  background-color: #121212;
  height: calc(120vh - 85px);
  background-image: url(Imagens/programador.png);
  display: flex;
  align-items: center;
  padding-left: 10%;
  transition: 3s;
}

.section h1 {
  color: #ffffff;
  font-size: 50px;
}

.section p {
  color: blue;
  padding-top: 14px;
  padding-bottom: 20px;
  font-size: 25px;
  font-style: italic;
}

.buttom {
  padding: 15px;
  font-size: 20px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.9s;
}

.buttom:hover {
  transform: scale(1.2);
}

.section a {
  text-decoration: none;
  color: #121212;
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
}
/* Fim da Main*/

/* Inicio aside*/
<<<<<<< HEAD
.section2{
    background-color:#050505;
    width: 100%;
    padding: 7% 10%;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section2 div{
    max-width: 50%;
}

.section2 div h2{
    color: #ffffff;
    font-size: 40px;
}

.section2 div p{
    color: #ffffff;
    font-size: 28px;
    padding-right: 40px;
}

.section2 img{
    max-width: 550px;
    border: 0;
    border-radius: 10px;
=======
.section2 {
  background-color: #050505;
  width: 100%;
  padding: 7% 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2 div {
  max-width: 50%;
}

.section2 div h2 {
  color: #ffffff;
  font-size: 40px;
}

.section2 div p {
  color: #ffffff;
  font-size: 28px;
  padding-right: 40px;
}

.section2 img {
  max-width: 550px;
  border: 0;
  border-radius: 10px;
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
}
/* Fim Aside*/

/* Inicio Projects*/
<<<<<<< HEAD
.projects{
    background-color: #050505;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.projects h2{
    color: #FFFFFF;
    font-size: 35px;
    padding-bottom: 8px;
}

.projects p{
    color: #FFFFFF;
    font-size: 28px;
    padding-bottom: 10px;
}


.projects-list{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.projects img{
    max-width: 20%;
    padding: 0.5%;
    opacity: 0.6;
    transition: 0.9s;
}

.projects-list img:hover{
    opacity: 1;
}

.buttom2{
    margin-top: 18px;
    padding: 14px 35px;
    font-size: 18px;
    background-color: #bebdbd;
    border:3px solid #121212;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.9s;
}

.buttom2:hover{
    transform: scale(1.3);
=======
.projects {
  background-color: #050505;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

.projects h2 {
  color: #ffffff;
  font-size: 35px;
  padding-bottom: 8px;
}

.projects p {
  color: #ffffff;
  font-size: 28px;
  padding-bottom: 10px;
}

.projects-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projects img {
  max-width: 20%;
  padding: 0.5%;
  opacity: 0.6;
  transition: 0.9s;
}

.projects-list img:hover {
  opacity: 1;
}

.buttom2 {
  margin-top: 18px;
  padding: 14px 35px;
  font-size: 18px;
  background-color: #bebdbd;
  border: 3px solid #121212;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.9s;
}

.buttom2:hover {
  transform: scale(1.3);
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
}
/* Fim Projects*/

/* Inicio footer*/
<<<<<<< HEAD
#footer{
    background-color: #333232;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#footer p{
    margin-left: 10px;
    font-size: 20px;
}

#footer a{
    color: #f3f1ff;
    font-size: 20px;
    font-weight: bold;
}

#footer a:hover{
    color: blue;
}
/* Fim footer*/

@media (max-width: 1000px){
.section h1{
    font-size: 32px;
}

.section p{
    font-size: 22px;
}

.section{
    background-size: cover;
}

.section2{
=======
#footer {
  background-color: #333232;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#footer p {
  margin-left: 10px;
  font-size: 20px;
}

#footer a {
  color: #f3f1ff;
  font-size: 20px;
  font-weight: bold;
}

#footer a:hover {
  color: blue;
}
/* Fim footer*/

@media (max-width: 1000px) {
  .section h1 {
    font-size: 32px;
  }

  .section p {
    font-size: 22px;
  }

  .section {
    background-size: cover;
  }

  .section2 {
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 90px;
<<<<<<< HEAD
}

.section2 div{
    max-width: 80%;
}

.section2 div h2{
    font-size: 35px;
}
.section2 div p{
    font-size: 20px;
}
.section2 img{
    max-width: 80%;
    margin-top: 50px;
}

.projects h2{
    font-size: 30px;
}

.projects p{
    font-size: 20px;
    max-width: 80%;
}
.projects img{
    max-width: 26%;
}

#footer{
    flex-direction: column;
    padding: 20px;
}
#footer a{
    font-size: 30px;
}

#footer p{
    font-size: 25px;
}
}

=======
  }

  .section2 div {
    max-width: 80%;
  }

  .section2 div h2 {
    font-size: 35px;
  }
  .section2 div p {
    font-size: 20px;
  }
  .section2 img {
    max-width: 80%;
    margin-top: 50px;
  }

  .projects h2 {
    font-size: 30px;
  }

  .projects p {
    font-size: 20px;
    max-width: 80%;
  }
  .projects img {
    max-width: 26%;
  }

  #footer {
    flex-direction: column;
    padding: 20px;
  }
  #footer a {
    font-size: 30px;
  }

  #footer p {
    font-size: 25px;
  }
}
>>>>>>> aa78f00 (Adicionado readme.md no projeto)
